# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.IncrementalGame.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\ProjectUnity\DiloAcademy\IncrementalGame\.idea\.idea.IncrementalGame\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
